<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px 0">
                <form class="forgot_password_form" #f="ngForm" (ngSubmit)="f.form.valid &&ngSubmit()" novalidate>
                    <mat-error *ngIf="!isSubmitFailed" class="alert alert-primary">{{status}}</mat-error>
                    <mat-error *ngIf="f.submitted&&isSubmitFailed" class="alert alert-danger">{{status}}</mat-error>
                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label>Enter your email</mat-label>
                        <input matInput name="email" placeholder="pat@example.com" [(ngModel)]="form.email" [formControl]="email" required>
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                        <mat-icon color="ancent" matSuffix>email</mat-icon>
                        <mat-hint>Hint</mat-hint>
                    </mat-form-field><br>
                    <button mat-stroked-button color="accent" class="mat-button-toggle-group btn-outline-success">Send password reset email
                  <mat-icon color="accent" matSuffix>arrow_right_alt</mat-icon>
              </button>
                </form>
            </mat-card>
        </div>
    </div>
</div>