<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px 0;">
                <form class="form-register" #f="ngForm" (ngSubmit)="f.form.valid&&ngSubmit()" novalidate>
                    <mat-error *ngIf="!isCreateFailed" class="alert alert-primary">{{status}}</mat-error>
                    <mat-error *ngIf="f.submitted&&isCreateFailed" class="alert alert-danger">{{status}}</mat-error>
                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label>Name</mat-label>
                        <input name="name" matInput placeholder="Placeholder" [(ngModel)]="form.name" #name="ngModel" required minlength="6" maxlength="20">
                        <mat-error *ngIf="name.hasError('required')">The name is required!</mat-error>
                        <mat-error *ngIf="name.hasError('minlength')">The name must more than 3 charater</mat-error>
                        <mat-error *ngIf="name.hasError('maxlength')">The name max 10 charater</mat-error>
                        <mat-icon color="ancent" matSuffix>sentiment_very_satisfied</mat-icon>
                        <mat-hint>Hint</mat-hint>
                    </mat-form-field><br>
                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input name="username" matInput placeholder="Placeholder" [(ngModel)]="form.username" #username="ngModel" required minlength="6" maxlength="20">
                        <mat-error *ngIf="username.hasError('required')">The username is required!</mat-error>
                        <mat-error *ngIf="username.hasError('minlength')">The username must more than 3 charater</mat-error>
                        <mat-error *ngIf="username.hasError('maxlength')">The username max 10 charater</mat-error>
                        <mat-icon color="ancent" matSuffix>sentiment_very_satisfied</mat-icon>
                        <mat-hint>Hint</mat-hint>
                    </mat-form-field><br>

                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label>Enter your email</mat-label>
                        <input matInput name="email" placeholder="pat@example.com" [(ngModel)]="form.email" [formControl]="email" required>
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                        <mat-icon color="ancent" matSuffix>email</mat-icon>
                        <mat-hint>Hint</mat-hint>
                    </mat-form-field><br>

                    <mat-form-field style="width: 350px" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input name="password" matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="form.password" #password="ngModel" required minlength="6" maxlength="10">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
                        <mat-error *ngIf="password.hasError('required')">The password is required!</mat-error>
                        <mat-error *ngIf="password.hasError('minlength')">The password must more than 6 charater</mat-error>
                        <mat-error *ngIf="password.hasError('maxlength')">The password max 10 charater</mat-error>
                    </mat-form-field><br>
                    <button mat-stroked-button color="accent" class="mat-button-toggle-group btn-outlien-primary">Register
          </button>
                </form>
            </mat-card>
        </div>
    </div>
</div>
